
body {
    background-image: url("bg-zara.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.button {
    background-color: #4CAF50; /* Green */
    color: white; 
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    float: left;
    width: 20%;
    height: 100%

}



button a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
button a:hover {
    background-color: lightgreen;
}


.logo {
  text-align: center;
  padding-top: 10px;
}

.imagen {
  height: 10%;
  width: 10%;
  background-color: powderblue;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: lightblue;

}

